
table, td, th {
    margin-left: 1rem;
    margin-right: 5rem;
    padding:0.5rem;
    
}

h6 {
  white-space: nowrap;
  font-weight:bold;
}

table {
  width:50%;
}

.title {
  text-align: center;
}

.card {
  margin-bottom:15px;
  max-width: 15vw;
  text-align: center;
}

.links {
  list-style: none;
}

.application-name {
  margin-left:20px;
}

.navbar-search {
  position: absolute;
  right: 20px;
}

.repository-grid {
 margin-top: 20px;
}

.homepage {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  
  text-align:center;

  vertical-align: middle;
  justify-content: 'center';
  align-items: 'center';
  height: '100vh';
}


.diff-list {
  list-style: none;
  padding-left: 0;
  width:85%;
}

#file-diff-list {
  padding:5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(133, 133, 133);
}

.diff-addition {
  background-color: rgba(186, 249, 186, 0.313);
}

.diff-deletion {
  background-color: rgba(251, 200, 200, 0.313);
}

.commit-table-row {
  text-decoration: none;
}

.gotorepo {
  margin-left:5px;
}

.enter-id {
  display:flex;
  align-items:center;
  justify-content: center;
}
